/*BOOTSTRAP*/
.container {
    background-color: #F8648B;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #5E51E8 !important;
    border-color: #554ace !important;
    color: #ffffff !important;
}
/*Main Setup*/

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: #F8648B;
}

.top {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 0 3%;
    width: 100%;
    background-color: #F8648B;
}


/*navBar Setup*/
.navBar {
    background-color: #5E51E8;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: solid 8px #5E51E8;
    border-bottom: solid 8px #5E51E8;
}

.navBar ul {
    width: 100%;
    padding: 5px 0 5px 0;
}

.navBar li {
    display: inline;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 10.75%;
}

.navBar a:hover, .navBar a {
    text-decoration: none;
    color: white;
    font-family: 'Gruppo', serif;
    letter-spacing: 14px;
}

/*Responsivity of navBar*/

.icon {
    display: none;
}



/*STICKY .navBar*/

.nonsticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%; 
    border-radius: 2px;
    box-shadow: 0px 1px 10px black;
}

.sticky + .content {
    padding-top: 60px;
    width: 100%;
}

.main {
    background-image: linear-gradient(to right, #DBC8FA, #DB8FFA);
}

.box {
    background-color: #DBC8FA;
    margin: 0;
}

.box h1 {
    font-size: 82px;
    font-family: 'Great Vibes', cursive;
    margin-right: 15%;
    margin-left: 15%;
}



.text {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Solway', serif;
    font-size: 24px;
    min-height: 200px;
}

/*SERVICE TABLE*/
.tablediv {
    margin-left: 30%;
    margin-right: 15%;
    box-shadow: 5px 10px 8px #e7b2ff;
}
.table {
    width:100%;
    border: 2px solid;
    border-color: gray;
}

.right {
    text-align: right;
}

.text a:hover, .text a {
    text-decoration: none;
    color: #000000;
}

aside {
    position: relative;
    left: 49%;
    bottom: 110px;
    margin-right: 50%;
    margin-bottom: 25%;
}

#services {
    text-align: right;
}

#contact {
    text-align: left;
}

/*On smaller screens*/

@media (max-width: 900px) {
    .navBar a.link {display:none;}
    .navBar a.icon {
        float: right;
        display: block;
    }
    iframe {
        width: 150px;
        height: 250px;
        margin-right: 15%;
    }
    aside {
        bottom: 0;
    }
    #mapleft {
        margin: 15px;
    }
    .text {
        margin-left:15px;
    }
    .text.right {
        margin-right:15px;
    }
    .navBarresponsive {position: relative;background-color:#5E51E8;margin:0;}
    .navBarresponsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBarresponsive a:hover {
        color: white;

    }
    .navBarresponsive li {
        color: white;
        font-size: 24px;
        font-family: 'Gruppo', serif;
        letter-spacing: 6px;
    }
    .navBarresponsive a {
        float: none;
        display: block;
        text-align: left;
        font-size: 24px;
        margin-right: 6px;
        color: white;
        text-decoration: none;
        padding-top: 4px;
    }
    .main h1 {font-size:44px;margin:0}
    .main p {font-size:small;margin:0}
    .main a {font-size:small;margin:0}
}

/* @media (max-width:1200px) {
    .top img#splashleft {
        width:100%;
        height:100%;
    }
    .top img#splashright {
        width:100%;
        height:100%;
    }
} */